body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar__container {
  height: 100%;
}

.calendar__week-grid__container {
  min-width: 70vw;
}

.calendar-event {
  border-left-width: 4px !important;
  padding-left: 4px !important;
}

.calendar-event__break, .calendar-event__out-of-office {
  background-image: linear-gradient(45deg,transparent,transparent 40%,rgba(0,0,0,.1) 40%,rgba(0,0,0,.1) 50%,transparent 50%,transparent 90%,rgba(0,0,0,.1) 90%,rgba(0,0,0,.1));
  background-size: 12px 12px;
}

.event__notes {
  height: 40vh;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}
