body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar__container {
  height: 90vh !important;
}

.event__override {
  border-left-width: 4px !important;
  padding-left: 4px !important;
}

.event__notes {
  height: 40vh;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}